<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/educationCss.css">

</head>
<body>
  <header style="height: 6em;display: flex ;justify-content: space-evenly;background-color: black" >
    <div >
        <img style="height: 6em;" src="../static/img/logo.jpg" height="178" width="284"/>
    </div>
     <div style="padding-top: 0.5em">
         <form action="">
             <input type="text" placeholder="Nhập truyện cần tìm kiếm">
             <button>TÌm Kiếm</button>
         </form>
     </div>

  </header>

    <div id="link">
       <a style="text-decoration: none ; color: white;" href="#home">Home</a>
        <a style="text-decoration: none ; color: white;" href="#news">News</a>
        <a style="text-decoration: none ; color: white;" href="#contact">Contact</a>
        <a style="text-decoration: none ; color: white;" href="#about">About</a>
    </div>
    <main style="display: flex" >
        <div style="width: 15% ; height: 33em;background-color: black ;text-align: center;align-content: center	;">
            <h1>Top Truyện</h1>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>
           <p><a href="">Trinh thám</a></p>

        </div>
        <div style="width: 85%;height: 33em ;background-color: gray">
                   <div style="width: 100%;height: 50%;
                   display: flex ;text-align: center;justify-content: space-around">
                       <div style="width: 25% ;height: 100% ">


                           <img src="../static/img/Join.jpg" height="168" width="300"/>
                           <h3>Join</h3>

                       </div>  <div style="width: 25% ;height: 100% ">


                           <img src="../static/img/Join.jpg" height="168" width="300"/>
                       <h3>Join</h3>

                   </div>  <div style="width: 25% ;height: 100% ">


                       <img src="../static/img/Join.jpg" height="168" width="300"/>
                   <h3>Join</h3>
                   </div>



                   </div>


                   <div style="width: 100%;height: 50%;background-color: gray">
                       <div style="width: 100%;height: 50%;
                   display: flex ;text-align: center;justify-content: space-around">
                           <div style="width: 25% ;height: 100% ">


                               <img src="../static/img/Join.jpg" height="168" width="300"/>
                               <h3>Join</h3>

                           </div>  <div style="width: 25% ;height: 100% ">


                           <img src="../static/img/Join.jpg" height="168" width="300"/>
                           <h3>Join</h3>

                       </div>  <div style="width: 25% ;height: 100% ">


                           <img src="../static/img/Join.jpg" height="168" width="300"/>
                           <h3>Join</h3>

                       </div>
                   </div>


        </div>
    </main>
</body>
