body{
text-align: center;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: gray;
     padding-top: 1.5em;

}
.navbar a {
       font-size: 32px;
      margin-right: 32px;
    text-decoration: none;
    color: blanchedalmond;
}
.main {
            padding-top: 15em;
}