<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        body{
            background-image: url("https://images.triumphmotorcycles.co.uk/media-library/images/tiger1200%201920x1080.jpg");
        }
        form{
            background: white;
            border:  2px;
            border-radius: 15px;
        }
        form{
            background: white;
            border:  2px;
            border-radius: 15px;
            padding: 2em;
        }
    </style>
</head>
<body>
<a th:href="@{/adminjob}" type="submit" class="btn btn-danger">Back To Admin Action</a>

<div class="container" style="width: 30em;margin-top: 5em">
<form th:action="@{/delete}" method="post" th:object="${delete}">
    <input style="display: none" th:field="*{idMoto}" class="form-control" id="exampleFormControlInput1" placeholder="name MotoBike">
    <input style="display: none" th:field="*{categorite.idCategorite}" class="form-control" id="exampleFormControlInput1" placeholder="name MotoBike">
    <div class="form-group">
        <label for="exampleFormControlInput1">1.Mame MotoBike</label>
        <input th:field="*{nameMoto}" class="form-control" id="exampleFormControlInput1" placeholder="name MotoBike">
    </div> <div class="form-group">
    <label for="exampleFormControlInput1"> 2.Weight</label>
    <input th:field="*{weight}" class="form-control" id="exampleFormControlInput1" placeholder="name MotoBike">
    <p th:if="${#fields.hasErrors('weight')}" th:errors = "*{weight}" class="text-danger" ></p>

</div> <div class="form-group">
    <label for="exampleFormControlInput1">3.Houre Power</label>
    <input th:field="*{hourePower}" class="form-control" id="exampleFormControlInput1" placeholder="name MotoBike">
    <p th:if="${#fields.hasErrors('hourePower')}" th:errors="*{hourePower}"></p>
</div>
    <div class="form-group">
        <label for="exampleFormControlInput1">4.Image</label>
        <input th:field="*{img}" class="form-control" id="exampleFormControlInput1" placeholder="img">
    </div>
<div style="text-align: center">
    <button  type="submit" class="btn btn-secondary">Delete MotoBike</button></div>
</form>
</div>

</body>
</html>
